.task-done-container {
  font-size: 1.6rem;
  color: var(--green);
  width: 80%;
  background: var(--black-purple);
  margin: 1.7rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
}

.task-done {
  text-decoration: line-through;
}