input:-moz-placeholder {
  color: #777777;
}

.add-task-container {
  width: 30rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 6rem;
}

.input-add-task {
  height: 4rem;
  width: 85%;
  background-color: var(--purple-black);
  border: solid var(--purple) 0.1rem;
  border-radius: 1rem;
  padding-left: 1.3rem;
  color: var(--purple);
  outline: var(--purple);
}

.button-add-task {
  width: 4rem;
  height: 4rem;
  font-size: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--purple);
  border-radius: 1rem;
}